.grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    
    grid-gap: 10px;
    background-color: #2196f3;
    padding: 10px;
    justify-content: space-around;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    height: 20vh;
}
.grid-item:hover{
    cursor: pointer;
}
img {
    max-width: 100%;
    max-height: 100%;
}
body{
    background-color: #2196f3;
}
h3{
    font-size: 1.5vw;
}
p{
    font-size: 1vw;
}
select {
    width: 30%;
    padding-left: 5%;
    margin-left: 5%;
}
.filter {
    padding-left: 5%;
    color: white;
}
.Modal-body {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 2%;
    top: 2%;
    width: 96%; 
    height: 96%; 
    background-color: black; 
    border: solid 1px;
    color: white;
}

.ModalMessage-body {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 20%;
    top: 30%;
    width: 60%; 
    height: 40%; 
    background-color: rgba(0,0,0,0.9); 
    border: solid 1px;
    color: white;
}

.Modal-x {
    display: block;
    text-align: right;
    padding-right: 2vw;
    font-size: 4vh;
}

.Modal-header {
    display: inline-block;
    font-size: 20px;
}

.Modal-button {
    width: 80%;
    margin: 10px;
    color: white;
    font-size: 20px;
}

.Modal-description{
    width: 65%;
    float: left;
    padding: 5%;
}